<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Servus {{ user_first_name }},</p>
    <p>bitte benutze den folgenden Link für deine Bestellung:</p>
    <a href="http://{{ hostname }}/{% url 'order' order_id %}">Bestellung</a>
    <p>Username: ww / PW: Wurst1</p>
    <p>Viele Grüße</p>
    <p>WW-Team</p>
</body>
</html>
